# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = amazon_bestseller.settings


[deploy:amazon_bestseller_1]
url = http://120.78.131.162:6689/
project = amazon_bestseller














